main/Data/poly128/data_poly.xyz
main/Data/poly128/e2e.d
main/Data/poly128/msd
main/Data/poly128/msdVals.d
main/Data/poly128/polyIntel
main/Data/poly128/radiiOfGyration.d
main/Data/poly128/vmd_data_poly.xyz
main/Data/poly16/data_poly.xyz
main/Data/poly16/e2e.d
main/Data/poly16/msd
main/Data/poly16/msdVals.d
main/Data/poly16/polyIntel
main/Data/poly16/radiiOfGyration.d
main/Data/poly16/vmd_data_poly.xyz
main/Data/poly256/data_poly.xyz
main/Data/poly256/e2e.d
main/Data/poly256/msd
main/Data/poly256/msdVals.d
main/Data/poly256/poly
main/Data/poly256/radiiOfGyration.d
main/Data/poly256/vmd_data_poly.xyz
main/Data/poly32/data_poly.xyz
main/Data/poly32/e2e.d
main/Data/poly32/msd
main/Data/poly32/msdVals.d
main/Data/poly32/nohup.out
main/Data/poly32/poly
main/Data/poly32/radiiOfGyration.d
main/Data/poly32/vmd_data_poly.xyz
main/Data/poly512/data_poly.xyz
main/Data/poly512/e2e.d
main/Data/poly512/poly
main/Data/poly512/polyIntel
main/Data/poly512/vmd_data_poly.xyz
main/Data/poly64/data_poly.xyz
main/Data/poly64/e2e.d
main/Data/poly64/msd
main/Data/poly64/msdVals.d
main/Data/poly64/poly
main/Data/poly64/radiiOfGyration.d
main/Data/poly64/vmd_data_poly.xyz
main/Polymer/nohup.out
main/Polymer/poly
main/Polymer/#bash.sh#
main/Polymer/bash.sh~
main/MIPS/polymerCreator
main/MIPS/polyMake.sh~
main/MIPS/#polyMake.sh#
main/MIPS/activeNew
main/Polymer/cPolymer.cpp
main/Polymer/bash.sh
main/Polymer/msd
Notebooks/.ipynb_checkpoints/Polymer Motion-checkpoint.ipynb
Notebooks/Polymer_plot.png
Notebooks/.ipynb_checkpoints/Polymer Motion-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Polymer Motion-checkpoint.ipynb
